//colors
/*My Greyscale*/
$white: #f1ffec;
$black: #3c403b;

$grey001: #b4bfb1;
$grey002: #787f76;
$grey003: #d8e5d4;
/*pastel-rama-1*/
$success: #a1d369;
$warning: #ffce56;
$error: #fc6d52;

//font-size
$h1-size: 48px;
$h2-size: 34px;
$h3-size: 28px;
$h4-size: 18px;
$p-size: 14px;

//line-heights
$h1-line-height: 60px;
$h2-line-height: 50px;
$h3-line-height: 38px;
$h4-line-height: 22px;
$p-line-height: 24px;

//font-weight
$regular: 400;
$semibold: 600;
$bold: 700;

//spacing
$xs-spacing: 4px;
$s-spacing: 8px;
$m-spacing: 16px;
$l-spacing: 32px;
$xl-spacing: 48px;
$xxl-spacing: 64px;
