@import "./../../../assets/style/global.scss";

.universal{
    color: $black;
    font-size: $p-size;
    background-color: $grey003;
    padding: 10px;
    border: 1px solid $black;
    box-shadow: none;
}

.text{
    border-radius: 20px;
}

.file::before{
    display: block;
    content: "Wybierz zdjęcie";

}

.textarea{
    resize: none;
}