.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.searchBar{
    width: 100%;
}

.itemBar{
    width: 100%;
    height: 125px;
    margin-bottom: 5px;
}