@import "../../assets/style/global.scss";

@mixin universalButtonStyle{
  border: none;
	cursor: pointer;
	outline: inherit;
}

@mixin buttonTextStyle{
  @include universalButtonStyle();
  color: white;
  padding: 5px 10px;
  font-size: $p-size;
  font-weight: $bold;
  border-radius: 10px;
}

.submit{
  @include buttonTextStyle();
  background-color: $success;
}

.edit {
  @include buttonTextStyle();
  background-color: $warning;
}

.delete {
  @include buttonTextStyle();
  background-color: $error;
}
