@import "../../../assets/style/global.scss";

.button{
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: $p-size;
  font-weight: $bold;
  border-radius: 10px;
  cursor: pointer;
  background: none;
}

.submit{
  background-color: $success;
}

.edit {
  background-color: $warning;
}

.delete {
  background-color: $error;
}
