@import "./../../assets/style/global.scss";

.div{
    display: block;
    position: relative;
}

.input{
    padding-right: 35px !important;
    width: 100%;

    &:focus{
        padding-right: 10px !important;

        + .icon{
            opacity: 0;
            transition: .5s all ease-in-out;
        }
    } 
}

.icon{
    position: absolute;
    top: 5px;
    right: 7px;
    opacity: 1;
    transition: .5s all ease-in-out;
}


